<div class="row align-items-center">
	<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
		<form id="login-form">
			<h2 class="text-center">Log In</h2>
			<form id="login-form" class="mb-5">
				<div class="form-floating mb-3">
					<input type="email" id="email" name="email" class="form-control" placeholder="Enter email" required>
					<label for="email">Email</label>
				</div>
				<div class="form-floating mb-3">
					<input type="password" id="password" name="password" class="form-control no-enter-catch enter-submit" placeholder="Enter password" required>
					<label for="password">Password</label>
				</div>
				<button type="submit" class="btn btn-primary float-end">Submit</button>
				<div class="form-check mb-3">
					<input class="form-check-input" type="checkbox" id="remember" name="remember" checked>
					<label class="form-check-label" for="remember">Keep me logged in</label>
				</div>
				<p>
					<a href="/forgot">Forgot your password?</a>
				</p>
			</form>
			<h5 class="mt-5">Are you new here?</h5>
			<p>Head over to the <a href="/signup">Sign Up</a> page!</p>
		</form>
	</div>
</div>