<div class="row align-items-center forgot-area">
	<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
		<h2 class="text-center">Password Reset</h2>
		<p class="lead">Enter your new password.</p>
		<form id="pwd-reset">
			<div class="form-floating mb-3">
				<input type="password" id="password" name="password" class="form-control" placeholder="Enter your new password" required>
				<label for="password">New Password</label>
			</div>
			<div class="form-floating mb-3">
				<input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm your new password" required>
				<label for="password2">Confirm Password</label>
			</div>
			<include href="templates/recaptcha.html" />
			<input type="hidden" id="code" name="code" value="{{ @code }}">
			<div id="success-alert" class="alert alert-success mt-3 mb-0 d-none-init" role="alert">Your password has successfully been reset! Go to the <a href="/login">Log In</a> page to log in with your new password.</div>
			<div class="form-error alert alert-danger mt-3 mb-0 d-none-init" role="alert"></div>
			<button type="submit" class="btn btn-primary float-end mt-3">Submit</button>
		</form>
	</div>
</div>